{% extends 'layout.html.twig' %}

{% block title %}
   Actualités
{% endblock %}
{% block welcomeUser %}
    Voici votre actualites
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8">
            <div class="mainContent">
                {% for post in posts %}
                <div class="singlePost">
                    <p class="postCategory">{{ post.category.NameCategory }}</p>
                    <p class="postUsername">{{ post.username }}</p>
                    <p>{{ post.postAt }}</p>

                    <p class="postContent">{{ post.content }}</p>
                    <br/>
                </div><br/>

                <div class="commentPart">
                    <div class="listcommentsPart">
                        <p><label for="comment">Commentaires</label></p>
                        {% for comment in post.comments %}
                            <div class="comments">
                                {{ comment.username }} <p>le {{ comment.commentAt }}</p>
                                -->
                                {{ comment.content }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="writeCommentPart">
                        <form action="<?= $this->baseUrl ?>index.php?action=addComment&amp;id={{ post.id }}"
                              method="post">
                            <textarea class="form-control" id="comment" name="comment" value="Répondez"></textarea><br>
                            <input class="btn btn-outline-secondary" type="submit" value="partager"/>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-6 col-md-4">
            <div class="secondContent">
            </div>
        </div>
    </div>





{% endblock %}