{% extends 'layout.html.twig' %}

{% block title %}
    lifestyle
{% endblock %}
{% block welcomeUser %}
    <h1 id="titleCat">#lifestyle</h1>
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-12 col-sm-6 col-lg-8">
            {% for post in posts %}
                <div class="mainContent">
                    <div class="post">
                        <ul>
                            <li class="postUsername">{{ post.username}}</li>
                            <li>{{ post.post_at }}</li>
                            <li class="postCategory">{{ post.categorie.gardeenfant }}</li>
                            <li class="postContent">{{ post.content }}</li><br/>
                            <li><label class="reponsePost" for="responsePost"></label>
                                <input id="responsePost" type="text" name="responsePost" value="Répondez" class="responsePost" />
                                <i id="shareComment" class="fas fa-paper-plane"></i>
                            </li>
                            <a class="linkComment" href="index.php?action=singlePost&id={{ post.id }}" >Voir les commentaires</a>
                        </ul>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-6 col-md-4">
            <div class="secondContent">
            </div>
        </div>

    </div>




{% endblock %}